# 0. 환경설정 및 워크벤치 세팅

## 워크벤치 세팅

In [ ]:
! pip install pandas sqlalchemy pymysql -q

In [ ]:
user = 'root'
password = 'password'
host = 'localhost'
port = 3306
database = 'Kaggle_HR'

In [ ]:
from sqlalchemy import create_engine

# 1) 커넥션 URL 생성
url = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8mb4"
engine = create_engine(url)

In [ ]:
data_path = 'wfs_behaviors_and_records_508p-546d-98r_20220722173739.csv'
hr_df = pd.read_csv(data_path, encoding='cp1252')

In [ ]:
hr_df.to_sql('hr_table', engine, if_exists='append', index=False)

## VSCODE 세팅

In [ ]:
! pip install koreanize_matplotlib

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

In [ ]:
data_path = 'wfs_behaviors_and_records_508p-546d-98r_20220722173739.csv'
hr_df = pd.read_csv(data_path, encoding='cp1252')

# 1. 우리 회사 직원 현황

In [31]:
hr_df.head(2)

,sub_ID,sub_fname,sub_lname,sub_age,sub_sex,sub_shift,sub_team,sub_role,sub_coll_IDs,sub_colls_same_sex_prtn,...,event_weekday_num,event_weekday_name,behav_comptype_h,behav_cause_h,actual_efficacy_h,record_comptype,record_cause,recorded_efficacy,recorded_note_from_sup,record_conf_matrix_h
0,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Presence,NaN,NaN,Presence,NaN,NaN,NaN,NaN
1,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Efficacy,NaN,1.489,Efficacy,NaN,1.2,NaN,NaN

In [ ]:
# 직원 기초 현황
unique_df = hr_df.drop_duplicates(subset='sub_ID')

total_count = unique_df['sub_ID'].nunique()
avg_age = unique_df['sub_age'].mean()
total_female = (unique_df['sub_sex'] == 'F').sum()  # () 조건이 참인 경우 1
total_male = (unique_df['sub_sex'] == 'M').sum()

print(f'전체 인원: {total_count}명')
print(f'나이 평균: {avg_age:.1f}')
print(f'여성 직원 수: {total_female}명')
print(f'남성 직원 수: {total_male}명')

전체 인원: 687명
나이 평균: 41.4
여성 직원 수: 359명
남성 직원 수: 328명

In [59]:
hr_df.columns

Index(['sub_ID', 'sub_fname', 'sub_lname', 'sub_age', 'sub_sex', 'sub_shift',
       'sub_team', 'sub_role', 'sub_coll_IDs', 'sub_colls_same_sex_prtn',
       'sub_health_h', 'sub_commitment_h', 'sub_perceptiveness_h',
       'sub_dexterity_h', 'sub_sociality_h', 'sub_goodness_h',
       'sub_strength_h', 'sub_openmindedness_h', 'sub_workstyle_h', 'sup_ID',
       'sup_fname', 'sup_lname', 'sup_age', 'sup_sub_age_diff', 'sup_sex',
       'sup_role', 'sup_commitment_h', 'sup_perceptiveness_h',
       'sup_goodness_h', 'event_date', 'event_week_in_series',
       'event_day_in_series', 'event_weekday_num', 'event_weekday_name',
       'behav_comptype_h', 'behav_cause_h', 'actual_efficacy_h',
       'record_comptype', 'record_cause', 'recorded_efficacy',
       'recorded_note_from_sup', 'record_conf_matrix_h'],
      dtype='object')

In [63]:
# 직원 역량 평균 확인
avg_health = unique_df['sub_health_h'].mean()
avg_commitment = unique_df['sub_commitment_h'].mean()
avg_perceptiveness = unique_df['sub_perceptiveness_h'].mean()
avg_dexterity = unique_df['sub_dexterity_h'].mean()
avg_sociality = unique_df['sub_sociality_h'].mean()
avg_goodness = unique_df['sub_goodness_h'].mean()
avg_strength = unique_df['sub_strength_h'].mean()
avg_openmindness = unique_df['sub_openmindedness_h'].mean()

print('우리 회사의 직원 역량 평균')
print(f'건강: {avg_health:.3f}')
print(f'헌신도: {avg_commitment:.3f}')
print(f'인지력: {avg_perceptiveness:.3f}')
print(f'손재주: {avg_dexterity:.3f}')
print(f'사회성: {avg_sociality:.3f}')
print(f'선량함: {avg_goodness:.3f}')
print(f'힘: {avg_strength:.3f}')
print(f'수용성: {avg_openmindness:.3f}')

우리 회사의 직원 역량 평균
건강: 0.743
헌신도: 0.747
인지력: 0.742
손재주: 0.736
사회성: 0.740
선량함: 0.740
힘: 0.740
수용성: 0.754

In [ ]:
# shift, team 별 현황
shift_info = unique_df.groupby(['sub_shift', 'sub_team']).agg({
	'sub_ID': 'nunique',
	'sub_age' : 'mean',
  	'sub_sex': [
    	('여성', lambda x: (x=='F').sum()),
   		('남성', lambda x: (x=='M').sum())
  ]
})

shift_info.reset_index(inplace=True)
shift_info.columns = ['shift', 'team', '인원수', '평균 나이', '여성', '남성']
print(shift_info)

         shift        team  인원수      평균 나이  여성  남성
0      Shift 1      Team 1   29  37.965517  12  17
1      Shift 1      Team 2   26  45.884615  15  11
2      Shift 1      Team 3   28  40.392857  16  12
3      Shift 1      Team 4   28  38.321429  14  14
4      Shift 1      Team 5   27  41.666667  15  12
5      Shift 1      Team 6   31  41.612903  17  14
6      Shift 1      Team 7   25  40.120000  12  13
7      Shift 1      Team 8   31  45.129032  13  18
8      Shift 1  unassigned    1  24.000000   1   0
9      Shift 2     Team 10   27  42.333333  10  17
10     Shift 2     Team 11   30  43.933333  19  11
11     Shift 2     Team 12   34  45.676471  25   9
12     Shift 2     Team 13   25  39.560000  18   7
13     Shift 2     Team 14   31  39.290323  12  19
14     Shift 2     Team 15   31  37.709677  14  17
15     Shift 2     Team 16   26  41.230769  12  14
16     Shift 2      Team 9   25  40.600000  12  13
17     Shift 2  unassigned    1  23.000000   0   1
18     Shift 3     Team 17   28  44.107143  12  16
19     Shift 3     Team 18   29  42.827586  12  17
20     Shift 3     Team 19   28  40.821429  13  15
21     Shift 3     Team 20   24  39.208333  13  11
22     Shift 3     Team 21   32  40.875000  17  15
23     Shift 3     Team 22   28  44.250000  19   9
24     Shift 3     Team 23   33  40.030303  19  14
25     Shift 3     Team 24   27  40.370370  16  11
26     Shift 3  unassigned    1  54.000000   1   0
27  unassigned  unassigned    1  38.000000   0   1

In [66]:
# shift, team 별 역량 평균
shift_info = unique_df.groupby(['sub_shift', 'sub_team']).agg({
  'sub_health_h':'mean',
  'sub_commitment_h' :'mean',
  'sub_perceptiveness_h':'mean',
  'sub_dexterity_h':'mean',
  'sub_sociality_h':'mean',
  'sub_goodness_h':'mean',
  'sub_strength_h':'mean',
  'sub_openmindedness_h':'mean'
})

shift_info.reset_index(inplace=True)
shift_info.columns = ['shift', 'team', '건강', '헌신도', '인지력', '손재주', '사회성', '선량함', '힘', '수용성']
print(shift_info)

         shift        team        건강       헌신도       인지력       손재주       사회성  \
0      Shift 1      Team 1  0.706310  0.757172  0.714207  0.739103  0.783621
1      Shift 1      Team 2  0.727346  0.660654  0.674038  0.745115  0.783962
2      Shift 1      Team 3  0.756571  0.757321  0.760000  0.783643  0.735607
3      Shift 1      Team 4  0.708107  0.754214  0.783214  0.730643  0.721250
4      Shift 1      Team 5  0.714148  0.770222  0.783667  0.750630  0.734704
5      Shift 1      Team 6  0.698871  0.775710  0.722516  0.702323  0.698161
6      Shift 1      Team 7  0.675120  0.761960  0.738920  0.711280  0.776720
7      Shift 1      Team 8  0.762032  0.729129  0.746548  0.766097  0.741032
8      Shift 1  unassigned  0.983000  0.842000  0.948000  0.836000  0.830000
9      Shift 2     Team 10  0.719259  0.781593  0.764444  0.750185  0.694630
10     Shift 2     Team 11  0.781733  0.756333  0.728867  0.691733  0.720867
11     Shift 2     Team 12  0.719029  0.753235  0.789353  0.748500  0.717676
12     Shift 2     Team 13  0.755800  0.724360  0.787200  0.737200  0.766160
13     Shift 2     Team 14  0.788000  0.694742  0.717742  0.766710  0.748806
14     Shift 2     Team 15  0.769065  0.744484  0.732742  0.701774  0.744871
15     Shift 2     Team 16  0.754500  0.795385  0.746885  0.739846  0.754385
16     Shift 2      Team 9  0.780160  0.775360  0.712200  0.720640  0.740480
17     Shift 2  unassigned  0.949000  0.864000  0.979000  0.648000  0.459000
18     Shift 3     Team 17  0.794036  0.730679  0.741179  0.692571  0.754536
19     Shift 3     Team 18  0.713862  0.744345  0.755862  0.739207  0.750276
20     Shift 3     Team 19  0.753607  0.792179  0.751000  0.740786  0.751929
21     Shift 3     Team 20  0.741333  0.725292  0.780708  0.775792  0.719792
22     Shift 3     Team 21  0.741594  0.719969  0.712750  0.728906  0.744125
23     Shift 3     Team 22  0.750821  0.749929  0.694857  0.713357  0.731893
24     Shift 3     Team 23  0.748758  0.743182  0.730939  0.795879  0.725636
25     Shift 3     Team 24  0.733556  0.720111  0.730259  0.707741  0.730815
26     Shift 3  unassigned  0.950000  0.966000  0.802000  0.544000  0.781000
27  unassigned  unassigned  0.976000  0.903000  0.946000  0.557000  0.672000

         선량함         힘       수용성
0   0.713586  0.718690  0.712552
1   0.743692  0.706692  0.765885
2   0.757964  0.712286  0.768571
3   0.738893  0.774179  0.706750
4   0.692296  0.724556  0.735222
5   0.745484  0.716645  0.777323
6   0.722240  0.743680  0.785760
7   0.759452  0.748065  0.709290
8   0.971000  0.795000  0.917000
9   0.767259  0.762630  0.758667
10  0.722200  0.799200  0.782500
11  0.756441  0.752088  0.720971
12  0.744720  0.711480  0.745320
13  0.702806  0.775935  0.788097
14  0.746032  0.753871  0.759710
15  0.747654  0.692038  0.731769
16  0.777920  0.736280  0.743120
17  0.941000  0.615000  0.680000
18  0.749286  0.761821  0.755429
19  0.682172  0.712966  0.761690
20  0.758429  0.745964  0.798393
21  0.717875  0.735042  0.759458
22  0.734875  0.754312  0.765813
23  0.755929  0.736500  0.721286
24  0.747394  0.747091  0.767394
25  0.754259  0.716852  0.791148
26  0.931000  0.578000  0.624000
27  0.936000  0.652000  0.524000